# Querying Database Using Python

### Introduction
This project answers two questions about courses on the Udemy e-learning Platform using SQL, Postgres and Python. The Udemy courses dataset were import to postgres from Jupyter notebook Using the psycopg2 and sqlalchemy libraries. The dataset can be gotten from this link [https://docs.google.com/spreadsheets/d/1t1tf-JBI0o6p2WjcQsEJRXHpbUyGm8JV30aMnaljBwg/edit#gid=1358982093https://docs.google.com/spreadsheets/d/1t1tf-JBI0o6p2WjcQsEJRXHpbUyGm8JV30aMnaljBwg/edit#gid=1358982093]

The dataset has the following columns:
 - course_id - Course identifier number
 - course_title - Title of course
 - url - Link to the course
 - is_paid - True/False (free or not)
 - price - The price of the course
 - num_subscribers - The number of subscribers for the course
 - num_reviews - The number of reviews for the course 
 - num_lectures - The number of lectures the course has
 - levels - How many levels the course has
 - content_duration - The number of hours the course covered
 - published_timestamp - Date the course was published
 - subject - The discipline covered by the course

In [1]:
# Import necessary libraries
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2

In [2]:
# Create a connection engine
engine = create_engine("postgresql+psycopg2://postgres:(Geolaw1990)@localhost:5432/demo_db", pool_recycle=-1)

In [3]:
# conn = psycopg2.connect(host="localhost", database="demo_db",user="postgres",
#                        password="(Geolaw1990)")

##### Question 1 Write a query for paid courses, showing the  course with the highest number of subscribers per month

In [4]:
#Question 1 Write a query for paid courses, showing the course with the highest number of subscribers per month
query = """SELECT highest_subscriber, name, DATE_PART('month', date) AS Month FROM
                    (SELECT MAX(num_subscribers) AS highest_subscriber, course_title AS name, published_timestamp AS date
                        FROM udemy_courses where is_paid = True
                        GROUP BY 2, 3
                        ORDER BY 1 DESC
                        LIMIT 5) AS t1"""

In [5]:
data = pd.read_sql(query, engine)

In [6]:
data

,highest_subscriber,name,month
0,121584,The Web Developer Bootcamp,11.0
1,114512,The Complete Web Developer Course 2.0,3.0
2,84897,Learn Javascript & JQuery From Scratch,10.0
3,79612,JavaScript: Understanding the Weird Parts,3.0
4,75499,Pianoforall - Incredible New Way To Learn Pian...,8.0

#### Question 2 Write a query for paid courses, showing the course with the highest sales per month

In [7]:
query_1 = """SELECT highest_sales, name, DATE_PART('month', date) AS Month FROM
                    (SELECT MAX(num_reviews) AS highest_sales, course_title AS name, published_timestamp AS date
                        FROM udemy_courses where is_paid = True
                        GROUP BY 2, 3
                        ORDER BY 1 DESC
                        LIMIT 5) AS t1"""

In [8]:
data_1 = pd.read_sql(query_1, engine)

In [9]:
data_1

   highest_sales                                               name  month
0          27445                         The Web Developer Bootcamp   11.0
1          22412              The Complete Web Developer Course 2.0    3.0
2          19649  Angular 4 (formerly Angular 2) - The Complete ...    2.0
3          16976          JavaScript: Understanding the Weird Parts    3.0
4          15117                            Modern React with Redux   12.0

The course with the paid course with highest number of subscribers is The Web Developer Bootcamp, it also has the highest sales per month.